body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
}

body::-webkit-scrollbar {
  width: 0 !important;
}
